body {
  height: 100vh;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;/* Align vertically */
}
.top-container {
  background-color: #e4f9f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: center;
  position: relative;
  margin-bottom: 0px;
  padding: 0px;

}
.mountain {
  transform: translateX(-4%); /* Center it horizontally */
}
h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}
h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
.pro {
  text-decoration: underline;
}
.top-cloud1, .top-cloud2, .top-cloud3, .top-cloud4, .top-cloud5, .top-cloud6, .top-cloud7, .top-cloud8 {
  height: auto;
  width: auto;
  position: absolute;
  mix-blend-mode: multiply;
  margin: 0;
  padding: 0;
}
.top-cloud1 {
  height: 20px;
  width: 105px;
  top: 16%;
  left: 30%;
  transform: translateX(-50%);
}
.top-cloud2 {
  height: 25px;
  width: 105px;
  top: 30%;
  left: 20%;
  transform: translateX(-50%);
}
.top-cloud3 {
  height: 20px;
  width: 115px;
  top: 13%;
  left: 80%;
  transform: translateX(-50%);
}
.top-cloud4 {
  height: 30px;
  width: 140px;
  top: 30%;
  left: 70%;
  transform: translateX(-50%);
}
.top-cloud5 {
  height: 40px;
  width: 100px;
  top: 70%;
  left: 70%;
  transform: translateX(-50%);
}
.top-cloud6 {
  height: 40px;
  width: 100px;
  top: 68%;
  left: 30%;
  transform: translateX(-50%);
}
.top-cloud7 {
  height: 20px;
  width: 90px;
  top: 20%;
  left: -20%;
  transform: translateX(-50%);
}
.top-cloud8 {
  height: 40px;
  width: 100px;
  top: 56%;
  left: 53%;
  transform: translateX(-50%);
}
.profpic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 0;
}
.intro {
  width: 30%;
  margin: auto;
}
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
p {
  line-height: 2;
  margin: 30px
}
.parent {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  width: 50%;
  margin: 100px auto 0 auto;
  text-align: left;
  row-gap: 2rem;
}
.coding-img {
  width: 25%;
  float: left;
  margin-right: 0px;
}
.chilli-img {
  width: 50%;
  margin-left: 30px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}


.chilli-img {
  width: 50%;
  margin-left: 30px;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 90px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}